.card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h4{
    color:#666;
    margin-bottom:15px;
}

.card h2{
    font-size:34px;
    margin-bottom:10px;
}

.card p{
    color:#999;
}