.chat-input-container {
    display: flex;
    margin-bottom: 20px;
}

.chat-input {
    padding: 12px 15px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;
    flex-grow: 1;
}

.send-button {
    background-color: rgb(5, 157, 178);
    color: white;
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}